%meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
%div
  %button.button.is-primary Primary
  %button.button.is-link Link
  %button.button.is-info Info
  %button.button.is-success Success
  %button.button.is-warning Warning
  %button.button.is-danger Danger
%div
  %button.button.is-primary.is-light Primary
  %button.button.is-link.is-light Link
  %button.button.is-info.is-light Info
  %button.button.is-success.is-light Success
  %button.button.is-warning.is-light Warning
  %button.button.is-danger.is-light Danger
